<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="addHazardModal" aria-hidden="true" class="modal fade" id="addHazardModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Hazard</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="hazard-name">Name:</label>
                        <input class="form-control" id="hazard-name" type="text">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="hazard-losses">Losses:</label>
                        <select class="form-control" id="hazard-losses" multiple>
                            <option th:each="l : ${losses}" th:text="${l.name}" th:value="${l.id}"/>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="hazard-father">Father:</label>
                        <select class="form-control" id="hazard-father">
                            <option value="">NO FATHER</option>
                            <option th:each="h : ${hazards}" th:text="${h.name}" th:value="${h.id}"/>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=addHazard() type="button">Add Hazard</button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="editHazardModal" aria-hidden="true" class="modal fade" id="editHazardModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Hazard</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="hazard-edit-name">Name:</label>
                        <input class="form-control" id="hazard-edit-name" type="text">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="hazard-edit-losses">Losses:</label>
                        <select class="form-control" id="hazard-edit-losses" multiple>
                            <option th:each="l : ${losses}" th:text="${l.name}" th:value="${l.id}"/>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="hazard-edit-father">Father:</label>
                        <select class="form-control" id="hazard-edit-father">
                            <option value="null">NO FATHER</option>
                            <option th:each="h : ${hazards}" th:text="${h.name}" th:value="${h.id}"/>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=editHazard() type="button">Edit Hazard</button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="confirmHazardDeleteModal" aria-hidden="true" class="modal fade" id="confirmHazardDeleteModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Hazard</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the following Hazard ?
                <br/><br/>
                <span id="hazard_delete_name"></span>
                <br/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=deleteHazard() type="button">Delete Hazard</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>