<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="addLossModal" aria-hidden="true" class="modal fade" id="addLossModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Loss</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="loss-name">Name:</label>
                        <input class="form-control" id="loss-name" type="text">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=addLoss() type="button">Add Loss</button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="editLossModal" aria-hidden="true" class="modal fade" id="editLossModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Loss</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="loss-edit-name">Name:</label>
                        <input class="form-control" id="loss-edit-name" type="text">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=editLoss() type="button">Edit Loss</button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="confirmLossDeleteModal" aria-hidden="true" class="modal fade" id="confirmLossDeleteModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Loss</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the following Loss ?
                <br/><br/>
                <span id="loss_delete_name"></span>
                <br/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=deleteLoss() type="button">Delete Loss</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>