<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="addSystemGoalModal" aria-hidden="true" class="modal fade" id="addSystemGoalModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add System Goal</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="system-goal-name">Name:</label>
                        <input class="form-control" id="system-goal-name" type="text">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=addSystemGoal() type="button">Add System Goal</button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="editSystemGoalModal" aria-hidden="true" class="modal fade" id="editSystemGoalModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit System Goal</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="system-goal-edit-name">Name:</label>
                        <input class="form-control" id="system-goal-edit-name" type="text">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=editSystemGoal() type="button">Edit System Goal</button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="confirmSystemGoalDeleteModal" aria-hidden="true" class="modal fade" id="confirmSystemGoalDeleteModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete System Goal</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the following System Goal ?
                <br/><br/>
                <span id="system_goal_delete_name"></span>
                <br/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=deleteSystemGoal() type="button">Delete System Goal</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>