<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="addSystemSafetyConstraintModal" aria-hidden="true" class="modal fade" id="addSystemSafetyConstraintModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add System Safety Constraint</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="system-safety-constraint-name">Name:</label>
                        <input class="form-control" id="system-safety-constraint-name" type="text">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="system-safety-constraint-hazards">Hazards:</label>
                        <select class="form-control" id="system-safety-constraint-hazards" multiple>
                            <option th:each="h : ${hazards}" th:text="${h.name}" th:value="${h.id}"/>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=addSystemSafetyConstraint() type="button">Add System Safety
                    Constraint
                </button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="editSystemSafetyConstraintModal" aria-hidden="true" class="modal fade" id="editSystemSafetyConstraintModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit System Safety Constraint</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="system-safety-constraint-edit-name">Name:</label>
                        <input class="form-control" id="system-safety-constraint-edit-name" type="text">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="system-safety-constraint-edit-hazards">Hazards:</label>
                        <select class="form-control" id="system-safety-constraint-edit-hazards" multiple>
                            <option th:each="h : ${hazards}" th:text="${h.name}" th:value="${h.id}"/>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=editSystemSafetyConstraint() type="button">Edit System Safety
                    Constraint
                </button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="confirmSystemSafetyConstraintDeleteModal" aria-hidden="true" class="modal fade" id="confirmSystemSafetyConstraintDeleteModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete System Safety Constraint</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the following System Safety Constraint ?
                <br/><br/>
                <span id="system_safety_constraint_delete_name"></span>
                <br/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=deleteSystemSafetyConstraint() type="button">Delete System
                    Safety Constraint
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>