<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>

    <link th:href="@{assets/jquery-treetable/jquery.treetable.css}" th:rel="stylesheet"/>
    <link th:href="@{assets/jquery-treetable/jquery.treetable.theme.default.css}" th:rel="stylesheet"/>
    <link th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
<div align="Left" class="container" style="margin-left: 2em; color: black;">
    <h1 style="margin-top: 0.5cm;">MicroSTAMP Step 1</h1>
    <br/>
    <div align="Left">
        <div class="container" style="margin-left: 2%;">
            <h2 style="display : inline-block;">System Goals</h2>
            <div th:switch="${systemGoals.size}">
                <h5 th:case='0'>No System Goals yet!</h5>
                <div th:case="*">
                    <div class="row" style="margin-top: -3%;">
                        <div class="col mt-5">
                            <table class="table" id="systemGoalsTable">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Id</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div class="container" style="margin-left: 2%;">
            <h2 style="display : inline-block;">Assumptions</h2>
            <div th:switch="${assumptions.size}">
                <h5 th:case='0'>No Assumptions yet!</h5>
                <div th:case="*">
                    <div class="row" style="margin-top: -3%;">
                        <div class="col mt-5">
                            <table class="table" id="assumptionsTable">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Id</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div class="container" style="margin-left: 2%;">
            <h2 style="display : inline-block;">Losses</h2>
            <div th:switch="${losses.size}">
                <h5 th:case='0'>No Losses yet!</h5>
                <div th:case="*">
                    <div class="row" style="margin-top: -3%;">
                        <div class="col mt-5">
                            <table class="table" id="lossesTable">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Id</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div class="container" style="margin-left: 2%;">
            <h2 style="display : inline-block;">Hazards</h2>
            <button class="btn btn-primary" id="expandAllHazardsButton"
                    onclick=expandAllHazards() style="display : inline-block; vertical-align : top; float : right;"
                    type="button">Expand All
            </button>
            <div th:switch="${hazards.size}">
                <h5 th:case='0'>No Hazards yet!</h5>
                <div th:case="*">
                    <div class="row" style="margin-top: -3%;">
                        <div class="col mt-5">
                            <table class="table" id="hazardsTable">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Id</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div class="container" style="margin-left: 2%;">
            <h2 style="display : inline-block;">System Safety Constraints</h2>
            <button class="btn btn-primary"
                    id="expandAllSystemSafetyConstraintsButton" onclick=expandAllSystemSafetyConstraints()
                    style="display : inline-block; vertical-align : top; float : right;" type="button">Expand All
            </button>
            <div th:switch="${systemSafetyConstraints.size}">
                <h5 th:case='0'>No System Safety Constraints yet!</h5>
                <div th:case="*">
                    <div class="row" style="margin-top: -3%;">
                        <div class="col mt-5">
                            <table class="table" id="systemSafetyConstraintsTable">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Id</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <input id="project_id" th:value="${project_id}" type="hidden"/>
        <br/>
    </div>
    <br/>
    <div>
        <div align="Left">

            <button class="btn btn-primary" data-target="#addSystemGoalModal" data-toggle="modal" type="button">Add
                System Goal
            </button>

            <button class="btn btn-primary" data-target="#addAssumptionModal" data-toggle="modal" type="button">Add
                Assumption
            </button>

            <button class="btn btn-primary" data-target="#addLossModal" data-toggle="modal" type="button">Add Loss
            </button>

            <button class="btn btn-primary" data-target="#addHazardModal" data-toggle="modal" type="button">Add Hazard
            </button>

            <button class="btn btn-primary" data-target="#addSystemSafetyConstraintModal" data-toggle="modal"
                    type="button">Add System Safety Constraint
            </button>

            <a style="float: right;" th:href="@{/home}">
                <input class="btn btn-secondary" type="button" value="Return"/>
            </a>
            <br/>
        </div>
        <br/>
    </div>
</div>

<div aria-hidden="true" class="modal fade" id="addSystemGoalModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add System Goal</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="system-goal-name">Name:</label>
                        <input class="form-control" id="system-goal-name" type="text">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=addSystemGoal() type="button">Add System Goal</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" class="modal fade" id="editSystemGoalModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit System Goal</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="system-goal-edit-name">Name:</label>
                        <input class="form-control" id="system-goal-edit-name" type="text">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=editSystemGoal() type="button">Edit System Goal</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" class="modal fade" id="confirmSystemGoalDeleteModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete System Goal</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the following System Goal ?
                <br/><br/>
                <span id="system_goal_delete_name"></span>
                <br/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=deleteSystemGoal() type="button">Delete System Goal</button>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" class="modal fade" id="addAssumptionModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Assumption</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="assumption-name">Name:</label>
                        <input class="form-control" id="assumption-name" type="text">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=addAssumption() type="button">Add Assumption</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" class="modal fade" id="editAssumptionModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Assumption</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="assumption-edit-name">Name:</label>
                        <input class="form-control" id="assumption-edit-name" type="text">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=editAssumption() type="button">Edit Assumption</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" class="modal fade" id="confirmAssumptionDeleteModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Assumption</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the following Assumption ?
                <br/><br/>
                <span id="assumption_delete_name"></span>
                <br/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=deleteAssumption() type="button">Delete Assumption</button>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" class="modal fade" id="addLossModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Loss</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="loss-name">Name:</label>
                        <input class="form-control" id="loss-name" type="text">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=addLoss() type="button">Add Loss</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" class="modal fade" id="editLossModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Loss</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="loss-edit-name">Name:</label>
                        <input class="form-control" id="loss-edit-name" type="text">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=editLoss() type="button">Edit Loss</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" class="modal fade" id="confirmLossDeleteModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Loss</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the following Loss ?
                <br/><br/>
                <span id="loss_delete_name"></span>
                <br/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=deleteLoss() type="button">Delete Loss</button>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" class="modal fade" id="addHazardModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Hazard</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="hazard-name">Name:</label>
                        <input class="form-control" id="hazard-name" type="text">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="hazard-losses">Losses:</label>
                        <select class="form-control" id="hazard-losses" multiple>
                            <option th:each="l : ${losses}" th:text="${l.name}" th:value="${l.id}"/>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="hazard-father">Father:</label>
                        <select class="form-control" id="hazard-father">
                            <option value="null">NO FATHER</option>
                            <option th:each="h : ${hazards}" th:text="${h.name}" th:value="${h.id}"/>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=addHazard() type="button">Add Hazard</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" class="modal fade" id="editHazardModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Hazard</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="hazard-edit-name">Name:</label>
                        <input class="form-control" id="hazard-edit-name" type="text">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="hazard-edit-losses">Losses:</label>
                        <select class="form-control" id="hazard-edit-losses" multiple>
                            <option th:each="l : ${losses}" th:text="${l.name}" th:value="${l.id}"/>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="hazard-edit-father">Father:</label>
                        <select class="form-control" id="hazard-edit-father">
                            <option value="null">NO FATHER</option>
                            <option th:each="h : ${hazards}" th:text="${h.name}" th:value="${h.id}"/>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=editHazard() type="button">Edit Hazard</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" class="modal fade" id="confirmHazardDeleteModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Hazard</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the following Hazard ?
                <br/><br/>
                <span id="hazard_delete_name"></span>
                <br/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=deleteHazard() type="button">Delete Hazard</button>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" class="modal fade" id="addSystemSafetyConstraintModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add System Safety Constraint</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="system-safety-constraint-name">Name:</label>
                        <input class="form-control" id="system-safety-constraint-name" type="text">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="system-safety-constraint-hazards">Hazards:</label>
                        <select class="form-control" id="system-safety-constraint-hazards" multiple>
                            <option th:each="h : ${hazards}" th:text="${h.name}" th:value="${h.id}"/>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=addSystemSafetyConstraint() type="button">Add System Safety
                    Constraint
                </button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" class="modal fade" id="editSystemSafetyConstraintModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit System Safety Constraint</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="system-safety-constraint-edit-name">Name:</label>
                        <input class="form-control" id="system-safety-constraint-edit-name" type="text">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="system-safety-constraint-edit-hazards">Hazards:</label>
                        <select class="form-control" id="system-safety-constraint-edit-hazards" multiple>
                            <option th:each="h : ${hazards}" th:text="${h.name}" th:value="${h.id}"/>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=editSystemSafetyConstraint() type="button">Edit System Safety
                    Constraint
                </button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" class="modal fade" id="confirmSystemSafetyConstraintDeleteModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete System Safety Constraint</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the following System Safety Constraint ?
                <br/><br/>
                <span id="system_safety_constraint_delete_name"></span>
                <br/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=deleteSystemSafetyConstraint() type="button">Delete System
                    Safety Constraint
                </button>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{modals/error_modals.html :: errorModal}"></div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="/assets/jquery-treetable/jquery.treetable.js"></script>

<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/systemGoals.js}"></script>
<script th:src="@{/js/assumptions.js}"></script>
<script th:src="@{/js/losses.js}"></script>
<script th:src="@{/js/hazards.js}"></script>
<script th:src="@{/js/systemSafetyConstraints.js}"></script>
<script th:src="@{/js/restrictions.js}"></script>

</body>
</html>